* {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(32, 21, 11);
    color: #e1cab4;

}









.header {
    background:url(../imagenes/header-image.jpg);
    height: 630px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-position: center;
}


.dark-overlay {
    background-color: rgb(0, 0, 0);
    height: 630px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.6;
}

.header-text {
    color: rgb(240, 230, 210);
    z-index: 10;
}


.texto {
    z-index: 10;
}

.hero-button {
    background-color: rgb(240, 230, 210);
    color: rgb(40, 28, 15);
    font-size: 20px;
    height: 50px;
    width: 200px;
    border: none;
}

.hero-button:hover {
    background-color: white;
    transition: 0.2s;
    cursor: pointer;
}



.topnav {
    background-color: rgb(20, 13, 6);
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.topnav li {
    list-style: none;
    padding-left: 20px;
}

.topnav ul li a {
    color: #b1977f;
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    transition: all 0.3s ease;
    padding: 23px 30px;

}


.furinalogo {
    width: 70px;
    padding: 5px;
}

.logotext {
    color: #b1977f;
    display: flex;
    align-items: center;    

}

.topnav a:hover {
    background-color: rgb(40, 28, 15);
    color: rgb(240, 230, 210);
}






/* Responsiveness */

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

.menu {
    display: flex;
}

#menu-close {
    color: red;
}





.main {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction: column;
}




.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 120, 90, .1);
    padding: 20px;
}

.about-content p {
    line-height: 1.9;
    padding: 80px;
    font-size: 16px;

}


.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 10px 0;
    margin-top: 40px;
    font-size: 18px;
}

.about-tittle, .menu-tittle, .where-title, .offer-title {
    background: rgb(20, 13, 6);
    color: rgb(240, 230, 210);
    width: 200px;
    text-align: center;
    border-radius: 14px;
    padding: 6px;
}

.about-image {
    width: 300px;
    background-size: cover;
    padding: 20px;
    border-radius: 50px;
}















.menu-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menu-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}



/*.menu-content-items:hover {
    background-color: rgb(185, 185, 185);
}
*/


.menu-content-items {
    padding: 30px;
    margin: 30px 0;
   /* box-shadow: 0 3px 13px 1px rgb(155, 155, 155); */
    background-color: rgb(55, 40, 25);
    ;
    font-size: 35px;
    color: #b1977f;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    border-radius: 14px;

}


.menu-item-text-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}




.menu-content-item-name {
    font-size: 30px;
    padding: 0;
    color: rgb(240, 230, 210);
}

.menu-content-item-description {
    font-size: 17px;
    margin-top: -25px;
    color: rgb(200, 180, 160);
}


.menu-item-price-container {
    display: flex;

}


.menu-content-item-price {
    color:  rgb(245, 200, 150);
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}





.menu-book-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 80px ;
}

.menu-book-text {
    font-size: 25px;
    color: rgb(240, 230, 210)
}

.menu-book {
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(150, 120, 90); /* Marrón cálido para el botón */
    border-radius: 25px;
    padding: 20px;
    width: 300px;
}

.menu-book a {
    color: rgb(255, 255, 255); /* Texto blanco */    
    text-decoration: none;
    font-weight: 600;

}

.menu-book:hover {
    background-color: rgb(98, 76, 54);;
    transition: 0.2s;
}








.where-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.where-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.where-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    font-size: 18px;

}

.where-text img {
    width: 710px;
    padding: 20px;
}








 .inv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .offer-title {
    margin-top: 10px;
 }


.offer-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.offer-gallery {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.offer-gallery img {
    width: 300px;
    background-size: cover;
    height: 300px;
    border-radius: 200px;
    padding: 50px;
}



.offer-text{
   font-size: 18px;
   line-height: 1.5;
}

.offer-text-container {
    display: flex;
    justify-content: center;
}

.offer-lf {
    font-size: 30px;
    text-align: center;
    padding: 80px;
}

.offer-title {
    text-align: center;
}

.offer-lf a {
    color: rgb(245, 200, 150);
}
.offer-lf a:hover {
    color: white;
}








.footer-img img {
    width: 80px;
    padding: 10px;

}

.footer-img, .footer-copyright {
    display: flex;
    font-size: 30px;
    align-items: center;
    background: rgb(20, 13, 6);
    border-bottom: 2px solid white;
    color: rgb(240, 230, 210);
    justify-content: center;
}


.footer {
    display: flex;
    background-color: rgb(20, 13, 6);
    color: rgb(240, 230, 210);
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer > div {
    flex: 1 1 200px; /* Ajustar automáticamente a pantallas pequeñas */
    padding: 10px;
}

.footer-contact li, .footer-about li, .footer-sm li, .footer-cafe li {
    list-style: none;
}

.footer-about a, .footer-sm a, .footer-cafe a {
    color: rgb(240, 230, 210);
}

.footer-about a:hover, .footer-sm a:hover, .footer-cafe a:hover {
    color: rgb(215, 200, 160);
}

.footer-copyright {
    border-bottom: none;
    font-size: 20px;
    padding: 10px;
}









/* Responsive design */
@media (max-width: 1024px) {



    .menu {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 70px;
        background-color: rgb(20, 13, 6);
        width: 100%;

    }

    .menu-icon {
        display: block;
        cursor: pointer;

    }

    .menu.visible {
        opacity: 1;
        visibility: visible;
    }


    .menu-icon {
        display: block;
    }



    .topnav ul {
        flex-direction: column;
        align-items: start;
    }

    .topnav ul li {
        padding: 25px 0;
    }

    
.topnav a:hover {
    background-color: rgb(20, 13, 6);
}




    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-content p {
        padding: 10px;
    }

    .about-image {
        width: 300px;
        margin-top: 20px;
    }

    .menu-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .menu-content-items {
        width: 100%;
        margin-bottom: 20px;
    }

    .where-text p {
        width: 80%;
    }

    .offer-gallery img {
        width: 140px;
        height: 150px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .footer-contact li, .footer-about li, .footer-sm li, .footer-cafe li {
        font-size: 10px;
    }
}


@media (max-width: 768px) {
    .header {
        height: 95vh;
    }
    .header-text {
        padding: 20px;
    }

    .dark-overlay {
        height: 95vh;
    }

    .header-text h1 {
        font-size: 40px;
    }

    .header-text p {
        font-size: 20px;
    }

    .hero-button {
        width: 150px;
        height: 50px;
    }

    .menu-content-items {
        width: 300px;
        font-size: 20px;
        flex: 1 1 200px;
    }

    .menu-content-item-name {
        font-size: 20px;
    }

    .menu-content-item-description {
        font-size: 10px;
        margin-top: -10px;
    }

    .where-text img {
        width: 300px;
    }



    .offer-gallery img {
        width: 100px;
        height: 100px;
    }

    .offer-text {
        font-size: 15px;
    }

    .offer-text-container {
        padding: 0;
    }

    .offer-lf {
        font-size: 22px;
    }

    .footer-img, .footer-copyright  {
        font-size: 15px;
    }



    .menu-book {
        font-size: 18px;
    }

    
}

@media (max-width: 470px) {
    .header {
        height: 100vh;
    }

    .dark-overlay {
        height: 100vh;
    }

    .about-content, .where-text, .offer-text {
        font-size: 13px;
    }

    .menu-book-text {
        font-size: 17px;
    }

    .menu-book {
        margin:auto;
        width: 150px;
        font-size: 15px;
    }

    .title-container {
        font-size: 16px;
    }

}