* {
    font-family: 'Square Peg', cursive;
    box-sizing: border-box;

}

body {
    margin: 0;
    background-color: rgb(207, 207, 207);
}








.topnav {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav a {
    color: black;
    text-decoration: none;
    font-size: 19px;
    text-align: center;
    transition: all 0.3s ease;
    padding: 22px 30px;

}


.furinalogo {
    width: 70px;
}

.logotext {
    color: black;
    display: flex;
    align-items: center;
}

.topnav a:hover {
    background-color: gray;
}






.header {
    background:url(../imagenes/header-image.jpg);
    color: white;
    height: 630px;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-position: center;
}


.dark-overlay {
    background-color: rgb(0, 0, 0);
    height: 630px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.6;
}

.texto {
    z-index: 10;
}








.main {
    display: flex;
    justify-content: center;
    padding: 0 120px;
    flex-direction: column;
}




.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 10px 0;
}

.about-tittle, .menu-tittle, .where-title, .offer-title {
    background: rgb(34, 24, 24);
    color: white;
    width: 200px;
    text-align: center;
}

.about-image {
    width: 300px;
    background-size: cover;
    padding: 20px;
}














.menu-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menu-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}



.menu-content-items:hover {
    background-color: rgb(185, 185, 185);
}



.menu-content-items {
    padding: 30px;
    margin: 30px 0;
    box-shadow: 0 3px 13px 1px rgb(155, 155, 155);
    background-color: rgb(242, 242, 242);
    font-size: 35px;
    color: black;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;

}


.menu-item-text-container {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.menu-item-price-container {
    display: flex;
}


.menu-content-item-name {
    font-size: 30px;
    color: black;
    padding: 0;
}

.menu-content-item-description {
    font-size: 17px;
    color: black;
    margin-top: -25px;
}

.menu-content-item-price {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
}





.wallahi {
    display: flex;
    justify-content: center;
    text-align: center;
}

.spam {
    justify-content: center;
    font-size: 30px;
    background-color: rgb(34, 21, 21);
    border-radius: 50px;
    padding: 20px;
    margin: 100px 0 100px 0;
    width: 500px;
}

.spam a {
    color: white;
}

.spam:hover {
    background-color: rgb(211, 71, 71);
    transition: 0.6s;
}










.where-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.where-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.where-text img {
    width: 700px;
    padding: 20px 0 20px 0;
}

 .where-text p {
    width: 900px;
 }






 .inv-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }


.offer-container {
    display: flex;
    justify-content: center;
}

.offer-gallery {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.offer-gallery img {
    width: 300px;
    background-size: cover;
    height: 300px;
    border-radius: 200px;
    padding: 50px;
}



.offer-text{
   font-size: 20px;
    width: 50%;
}

.offer-text-container {
    display: flex;
    justify-content: center;
}

.offer-lf {
    font-size: 30px;
    text-align: center;
    padding: 80px;
}

.offer-title {
    text-align: center;
}

.offer-lf a {
    color: brown;
}
.offer-lf a:hover {
    color: blue;
}









.footer-img img {
    width: 80px;
    padding: 10px;
}

.footer-img, .footer-copyright {
    display: flex;
    font-size: 30px;
    align-items: center;
    background: rgb(24, 21, 21);
    border-bottom: 2px solid white;
    color: white;
}

.footer {
    display: flex;
    background-color: rgb(24, 21, 21);
    color: white;
    justify-content: space-around;
}

.footer-contact li, .footer-about li, .footer-sm li, .footer-cafe li {
    list-style: none;
}

.footer-about a, .footer-sm a, .footer-cafe a {
    color: white;
}

.footer-copyright {
    border-bottom: none;
    font-size: 20px;
    padding: 10px;
}